/* Fonts */
/* Basic */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=fallback");
/* H1, H2 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,135,676&display=fallback");
/* H3, H4, H5 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,135,573&display=fallback");

/* Icons */
@import "@phosphor-icons/web/regular";
@import "@phosphor-icons/web/fill";

/* Tailwind */
@import "tailwindcss";

@theme {
    --*: initial;

    /* Spacing */
    --spacing: 4px;

    /* Rounding */
    --radius-2xs: 8px;
    --radius-xs: 12px;
    --radius-sm: 16px;
    --radius-md: 18px;
    --radius-lg: 24px;
    --radius-xl: 34px;
    --radius-2xl: 40px;

    /* Colors */
    --color-primary: #6e7cec;
    --color-primary-border: #cfd4ff;
    --color-on-primary: #eceeff;
    --color-background: #ffffff;
    --color-on-background: #33383f;
    --color-on-background-contrast: #111315;
    --color-on-background-muted: #6f767e;
    --color-surface: #ffffff;
    --color-surface-tint: #f9fafb;
    --color-surface-border: #e9e9e9;
    --color-on-surface: #33383f;
    --color-on-surface-contrast: #111315;
    --color-on-surface-muted: #6f767e;
    --color-on-surface-disabled: #e9e9e9;

    /* Shadow */
    --shadow: 0px 0px 63.44px 0px #00000012;

    /* Typography */
    --text-h1: 48px;
    --text-h1--line-height: 56.3px;
    --text-h1--font-weight: 676;
    --text-h1--font-stretch: 135%;

    --text-h2: 36px;
    --text-h2--line-height: 46.88px;
    --text-h2--font-weight: 676;
    --text-h2--font-stretch: 135%;

    --text-h3: 30px;
    --text-h3--line-height: 30.47px;
    --text-h3--font-weight: 573;
    --text-h3--font-stretch: 135%;

    --text-h4: 24px;
    --text-h4--line-height: 19.92px;
    --text-h4--font-weight: 573;
    --text-h4--font-stretch: 135%;

    --text-h5: 17px;
    --text-h5--line-height: 19.92px;
    --text-h5--font-weight: 573;
    --text-h5--font-stretch: 135%;

    --text-base: 16px;
    --text-base--line-height: 18.75px;
    --text-base--font-weight: 400;

    --text-button: 15px;
    --text-button--line-height: 17.58px;
    --text-button--font-weight: 521;

    --text-comment: 20px;
    --text-comment--line-height: 23.4px;
    --text-comment--font-weight: 500;

    --text-date: 14px;
    --text-date--line-height: 16.4px;
    --text-date--font-weight: 400;
}

@layer base {
    * {
        font-family: "Roboto Flex", sans-serif;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
    }
    h1 {
        font-size: var(--text-h1);
        line-height: var(--text-h1--line-height);
        font-weight: var(--text-h1--font-weight);
        font-stretch: var(--text-h1--font-stretch);
    }
    h2 {
        font-size: var(--text-h2);
        line-height: var(--text-h2--line-height);
        font-weight: var(--text-h2--font-weight);
        font-stretch: var(--text-h2--font-stretch);
    }
    h3 {
        font-size: var(--text-h3);
        line-height: var(--text-h3--line-height);
        font-weight: var(--text-h3--font-weight);
        font-stretch: var(--text-h3--font-stretch);
    }
    h4 {
        font-size: var(--text-h4);
        line-height: var(--text-h4--line-height);
        font-weight: var(--text-h4--font-weight);
        font-stretch: var(--text-h4--font-stretch);
    }
    h5 {
        font-size: var(--text-h5);
        line-height: var(--text-h5--line-height);
        font-weight: var(--text-h5--font-weight);
        font-stretch: var(--text-h5--font-stretch);
    }
    a[href],
    button {
        cursor: pointer;
    }
}

@layer components {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 44px;
        padding: 0 20px;

        font-size: var(--text-button);
        line-height: var(--text-button--line-height);
        font-weight: var(--text-button--font-weight);

        color: var(--color-on-primary);
        background-color: var(--color-primary);
        border-width: 1px;
        border-color: var(--color-primary);
        border-radius: var(--radius-xs);

        cursor: pointer;

        &.secondary {
            color: var(--color-primary);
            background-color: var(--color-on-primary);
            border-color: var(--color-on-primary);
            &:hover {
                border-color: var(--color-primary);
            }
        }

        &:disabled {
            color: var(--color-on-surface-muted);
            background-color: var(--color-on-surface-disabled);
            border-color: var(--color-on-surface-disabled);
            &:hover {
                background-color: var(--color-on-surface-disabled);
                border-color: var(--color-on-surface-disabled);
            }
            cursor: default;
        }
    }

    .input {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: var(--color-surface);
        border: 2px var(--color-primary-border) solid;
        border-radius: var(--radius-sm);

        &:focus {
            outline: 0;
            border: 2px var(--color-primary) solid;
        }

        &:disabled {
            border-color: var(--color-on-surface-disabled);
        }
    }

    input[type="checkbox"] {
        display: grid;
        place-content: center;

        appearance: none;
        background-color: #fff;
        font: inherit;
        width: 1.5em;
        height: 1.5em;
        border-radius: var(--radius-2xs);
        transform: translateY(-0.075em);
        border: 1px solid var(--color-on-primary);
        cursor: pointer;
        transition-duration: 100ms;
        transition-property: border-color background-color;

        label:has(> &) {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
        label:hover > &:not(:checked) {
            border-color: var(--color-primary);
            background-color: var(--color-on-primary);
        }

        &::before {
            display: none;
            color: var(--color-on-primary);
            font-family: "Phosphor" !important;
            content: "\e182";
            box-shadow: var(--shadow);
        }

        &:checked {
            background-color: var(--color-primary);
            border-color: var(--color-primary);

            &::before {
                display: block;
            }
        }
    }
}

/* Basic */
html,
body {
    width: 100%;
    min-height: 100dvh;
}

body:has(.modal[open]) {
    overflow: hidden;
}

body {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--text-base--font-weight);
}
