http://www.localhost {
    handle_path /api/* {
        reverse_proxy devcontainer:5151
    }
    handle_path /files/* {
        reverse_proxy devcontainer:5152
    }
    handle_path /devtools* {
        reverse_proxy devcontainer:3000
    }
    handle {
        reverse_proxy devcontainer:5150
    }
    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}

https://turn.localhost {
    reverse_proxy livekit:443
}

http://db.localhost {
    reverse_proxy dbgate:3000
    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}
http://s3.localhost {
    reverse_proxy minio:9001
    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}
http://bullmq.localhost {
    reverse_proxy bull-board:3000
    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}
